.sidebar{
    display:flex;
    flex-direction: column;
    flex:0.35;
}

.sidebar__header{
    display:flex;
    justify-content: space-between;
    border-right: 1px lightgrey;
    padding: 20px;
}

.sidebar__headerRight{
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-width: 10vw;
}

.sidebar__headerRight>.MuiSvgIcon-root{
    margin-right:2vw ;
    font-size: 24px !important;
}

.sidebar__search{
    display:flex;
    align-items:center;
    background-color:#f6f6f6;
    height:39px;
    padding:10px;
}

.sidebar__searchContainer{
    display:flex;
    align-items: center;
    background-color: white;
    height:35px;
    border-radius: 20px;
}

.sidebar__searchContainer.MuiSvgIcon-root{
    color:gray;
    padding:10px;
}

.sidebar__searchContainer>input{
    border:none;

    /* this is freaking cool */
    outline-width: 0;
   
    margin-left: 10px;
}

.sidebar__chats{
    flex:1;
    background-color: white;
    overflow:scroll;
}