.imgSize{
    width: 150px;
    height: 90px;
    margin-top:20px;
  }
  
  /* .login{
   height:658px;
  } */
  
  .login__body{
    width:500px;
    height:300px;
    border:1px solid black;
    margin-top:50px;
    text-align: center;
    padding-top:100px;
    border-radius: 10px;
  }
  
  .login__google{
    display:flex;
    justify-content:center;
    width:450px; 
    height:50px;
    margin-top:35px;
    padding-top: 15px;
    border:1px solid black;
    border-radius:10px;
    cursor: pointer;
  }
  
  .googleLogo{
    height:35px;
    width:55px;
    /* text-align: left; */
    /* padding-right:15px; */
  }
  
  .login__goggleText{
    font-weight:500;
  }
  